* {
    margin: 0;
    padding: 0;
    
}
.container-fluid {
    background-color: aqua;
    height: 50px;
}

.boton {
    background-color: aqua;
}
img {
    width: 200px;
    height: 200px;
    align-items: end;
}
.principal {
    display: grid;
    height: 250px;
    gap: 10px;
    background-color: orange;
}

.division {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.parte1 {
    display: grid;
    width: 25%;
    height: 10vh;
}
.parte2 {
    
    text-align: center;
    width: 50%;
    height: 10vh;
}
.parte2 p {
    text-align: center;
    padding: 35px;
}
.parte3 {
    display: grid;
    width: 25%;
    height: 10vh;
}
.final{
    
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    background-color: blue;
}

.final {
    background-image: url(img/fondo.jfif);
}

.imagen {
    display: flex;
    justify-items: end;
    
}
